.navbar_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.type,
.category,
.services, .province, .city {
  padding: 5px;
  border-radius: 15px;
}
.province {
  background-color: lightpink;
}
.city {
  background-color: coral;
}
.type {
  background-color: lightgreen;
}
.category {
  background-color: lightblue;
}


.filters__info {
  position: relative;
  padding-right: 15px;
}
.filters__input {
  width: 100%;
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: left;
}

.span {
  display: inline-block;
  margin: 3px;
  color: black;
}

.brand {
  margin: 0 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filters {
  min-width: 250px;
  margin: 0 15px;
  flex: 1;
  max-width: 550px;
}

.input_search:focus {
  background-color: white !important;
}
.input_search:focus {
  outline: none;
  background-color: lightgray;
}
.input_search {
  height: 45px;
  border: none;
  padding: 10px;
  flex: 1;
  background-color: #0002;
  
}
.input_search::placeholder {
  color: black;
}
.login_buttons {
  margin-left: auto;
}
@media (max-width: 625px) {
  .login_buttons {
    margin: auto;
  }
}

.button_clean {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0000;
  border: none;
}
